<div class="row justify-content-center">
  <div class="card col-lg-2 col-md-4 col-sm-5 p-3 m-3">
    <div class="ui tiny statistic">
      <div class="value">
       {{totalConfirmed.toLocaleString('en')}}
      </div>
      <div class="label">
        Confirmed
      </div>
    </div>
  </div>
  <div class="card col-lg-2 col-md-4 col-sm-5 p-3 m-3">
    <div class="ui tiny statistic">
      <div class="value">
        {{totalRecovered.toLocaleString('en')}}
      </div>
      <div class="label">
        Recovered
      </div>
    </div>
  </div><div class="card col-lg-2 col-md-4 col-sm-5 p-3 m-3">
    <div class="ui tiny statistic">
      <div class="value">
        {{totalDeaths.toLocaleString('en')}}
      </div>
      <div class="label">
        Deaths
      </div>
    </div>
  </div><div class="card col-lg-2 col-md-4 col-sm-5 p-3 m-3">
    <div class="ui tiny statistic">
      <div class="value">
        {{totalActive.toLocaleString('en')}}
      </div>
      <div class="label">
        Active
      </div>
    </div>
  </div>
</div>
